body{
  background: url(https://images.unsplash.com/20/cambridge.JPG?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=847&q=80);
background-repeat: no-repeat;
background-size: cover;

}

.container .jumbotron{
  margin-top: 200px;
}
